In [2]:
#Открываем файл и переводим в таблицу
import pandas as pd
import numpy as np
df = pd.read_csv('discounts_raw.csv', delimiter= ',')
df.head()

,item_id,promo_typeCode,sale_price_before_promo,sale_price_time_promo,date_start,date_end
0,100551,5.0,159.9,139.9,2023-03-02,2023-03-15
1,100553,5.0,159.9,139.9,2023-03-02,2023-03-15
2,100554,5.0,159.9,139.9,2023-03-02,2023-03-15
3,100558,5.0,159.9,139.9,2023-03-02,2023-03-15
4,100530,2.0,36.9,24.6,2021-09-09,2021-09-22

In [3]:
#Открываем файл и переводим в таблицу
df_sales = pd.read_csv('sales_raw.csv', delimiter= ',')
df_sales.head()

         date  item_id  qnty
0  2017-01-01   100001   7.0
1  2017-01-01   100003   2.0
2  2017-01-01   100006  13.0
3  2017-01-01   100010   5.0
4  2017-01-01   100035  53.0

In [4]:
#разбиваем даты акций на год и месяц и переводим их в числа
df_date_year_and_month = df.copy()
df_date_year_and_month['date_start'] = df_date_year_and_month['date_start'].astype(str)
df_date_year_and_month[['yy_start','mm_start','dd']] = df_date_year_and_month['date_start'].str.split('-', expand = True)
df_date_year_and_month['yy_start'] = pd.to_numeric(df_date_year_and_month['yy_start'])
df_date_year_and_month['mm_start'] = pd.to_numeric(df_date_year_and_month['mm_start'])
df_date_year_and_month = df_date_year_and_month.drop(['dd'], axis = 1)


df_date_year_and_month['date_end'] = df_date_year_and_month['date_end'].astype(str)
df_date_year_and_month[['yy_end','mm_end','dd']] = df_date_year_and_month['date_end'].str.split('-', expand = True)
df_date_year_and_month['yy_end'] = pd.to_numeric(df_date_year_and_month['yy_end'])
df_date_year_and_month['mm_end'] = pd.to_numeric(df_date_year_and_month['mm_end'])
df_date_year_and_month = df_date_year_and_month.drop(['dd'], axis = 1)
df_date_year_and_month = df_date_year_and_month.drop(['date_end','date_start'], axis = 1)
df_date_year_and_month.head()

,item_id,promo_typeCode,sale_price_before_promo,sale_price_time_promo,yy_start,mm_start,yy_end,mm_end
0,100551,5.0,159.9,139.9,2023,3,2023,3
1,100553,5.0,159.9,139.9,2023,3,2023,3
2,100554,5.0,159.9,139.9,2023,3,2023,3
3,100558,5.0,159.9,139.9,2023,3,2023,3
4,100530,2.0,36.9,24.6,2021,9,2021,9

In [5]:
# Избавляемся от пустых значений
df_date_year_and_month =df_date_year_and_month.dropna(axis=0)
df_date_year_and_month

,item_id,promo_typeCode,sale_price_before_promo,sale_price_time_promo,yy_start,mm_start,yy_end,mm_end
0,100551,5.0,159.9,139.9,2023,3,2023,3
1,100553,5.0,159.9,139.9,2023,3,2023,3
2,100554,5.0,159.9,139.9,2023,3,2023,3
3,100558,5.0,159.9,139.9,2023,3,2023,3
4,100530,2.0,36.9,24.6,2021,9,2021,9
...,...,...,...,...,...,...,...,...
2076,100471,10.0,71.9,49.9,2023,5,2023,6
2077,100469,5.0,69.9,44.9,2023,11,2023,11
2078,100470,5.0,69.9,44.9,2023,11,2023,11
2079,100471,5.0,69.9,44.9,2023,11,2023,11
2080,100474,5.0,69.9,44.9,2023,11,2023,11

In [6]:
# Здесь мы видим, что нашы даты теперь int
df_date_year_and_month.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2041 entries, 0 to 2080
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   item_id                  2041 non-null   int64
 1   promo_typeCode           2041 non-null   float64
 2   sale_price_before_promo  2041 non-null   float64
 3   sale_price_time_promo    2041 non-null   float64
 4   yy_start                 2041 non-null   int64
 5   mm_start                 2041 non-null   int64
 6   yy_end                   2041 non-null   int64
 7   mm_end                   2041 non-null   int64
dtypes: float64(3), int64(5)
memory usage: 143.5 KB

In [7]:
#разбиваем даты продаж на год и месяц и переводим их в числа
df_sales_year_and_month = df_sales.copy()
df_sales_year_and_month['date'] = df_sales_year_and_month['date'].astype(str)
df_sales_year_and_month[['yy','mm','dd']] = df_sales_year_and_month['date'].str.split('-', expand = True)
df_sales_year_and_month['yy'] = pd.to_numeric(df_sales_year_and_month['yy'])
df_sales_year_and_month['mm'] = pd.to_numeric(df_sales_year_and_month['mm'])
df_sales_year_and_month['dd'] = pd.to_numeric(df_sales_year_and_month['dd'])
df_sales_year_and_month = df_sales_year_and_month.drop(['date'], axis = 1)
df_sales_year_and_month

        item_id  qnty    yy  mm  dd
0        100001   7.0  2017   1   1
1        100003   2.0  2017   1   1
2        100006  13.0  2017   1   1
3        100010   5.0  2017   1   1
4        100035  53.0  2017   1   1
...         ...   ...   ...  ..  ..
147138   100614   5.0  2023  12  31
147139   100140   4.0  2023  12  31
147140   100650  11.0  2023  12  31
147141   100182   1.0  2023  12  31
147142   100604  26.0  2023  12  31

[147143 rows x 5 columns]

In [8]:
#фильтруем их по месяцу и году
df_sales_year_and_month = df_sales_year_and_month.loc[(df_sales_year_and_month['yy'] == 2023) &(df_sales_year_and_month['mm'] ==12)]
df_sales_year_and_month

        item_id  qnty    yy  mm  dd
145170   100545   3.0  2023  12   1
145171   100645   4.0  2023  12   1
145172   100683   1.0  2023  12   1
145173   100612  10.0  2023  12   1
145174   100165  15.0  2023  12   1
...         ...   ...   ...  ..  ..
147138   100614   5.0  2023  12  31
147139   100140   4.0  2023  12  31
147140   100650  11.0  2023  12  31
147141   100182   1.0  2023  12  31
147142   100604  26.0  2023  12  31

[1973 rows x 5 columns]

In [9]:
#совмещаем их в одну таблицу
df_big = pd.merge(df_sales_year_and_month, df_date_year_and_month, on='item_id', how='inner')
df_big['sale'] = np.where(((df_big['mm_end']<12) | (df_big['yy_end'] ==2023)| df_big['mm']==12), df_big['sale_price_before_promo'], df_big['sale_price_time_promo'])
df_big = df_big.drop(['sale_price_before_promo'], axis = 1)
df_big = df_big.drop(['sale_price_time_promo'], axis = 1)
df_big = df_big.drop_duplicates(subset=['dd','item_id'])

df_b = df_big[df_big['mm'] == 12]
df_new = df_b.groupby('item_id')['qnty'].sum().reset_index()
df_new

    item_id  qnty
0    100045  21.0
1    100046   5.0
2    100050   7.0
3    100126  35.0
4    100139   9.0
..      ...   ...
77   100665   2.0
78   100668  14.0
79   100683  33.0
80   100686  39.0
81   100691  50.0

[82 rows x 2 columns]

In [12]:
#модель ARIMA

import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
from math import sqrt

# Загрузка данных
df_big = pd.merge(df_sales_year_and_month, df_date_year_and_month, on='item_id', how='inner')
df_big['sale'] = np.where(((df_big['mm_end']<12) | (df_big['yy_end'] ==2023)| df_big['mm']==12), df_big['sale_price_before_promo'], df_big['sale_price_time_promo'])
df_big = df_big.drop(['sale_price_before_promo', 'sale_price_time_promo'], axis=1)
df_big = df_big.drop_duplicates(subset=['dd','item_id'])
df_filtered = df_big[df_big['mm'] == 12]
df_new = df_filtered.groupby('item_id')['qnty'].sum().reset_index()


january_2024 = df_new.copy()

# Подготовка данных 
data = df_big[['dd', 'qnty']].groupby('dd').sum()

# Разделение данных на обучающий и тестовый наборы
train_size = int(len(data) * 0.8)  
train_data, test_data = data.iloc[:train_size], data.iloc[train_size:]

# Обучение модели 
model = ARIMA(train_data, order=(5,1,0))  
model_fit = model.fit()

# Прогнозирование продаж на январь 2024 года
forecast = model_fit.forecast(steps=len(test_data))  
january_2024['прогноз'] = forecast
january_2024.fillna(0, inplace=True)

# Запись прогноза в CSV
january_2024.to_csv('ARIMA_jan_2024.csv', sep =';',index=False, header=False, lineterminator=';\n')

# Оценка качества прогноза с использованием RMSE
rmse = sqrt(mean_squared_error(test_data, forecast))
print(f'RMSE прогноза на январь 2024: {rmse}')

RMSE прогноза на январь 2024: 233.56723711801695

c:\Users\MSI-PC\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\MSI-PC\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\MSI-PC\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\MSI-PC\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\statespace\sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
c:\Users\MSI-PC\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\MSI-PC\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(

In [13]:
#модель Random forest
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

# Загрузка данных
df_big = pd.merge(df_sales_year_and_month, df_date_year_and_month, on='item_id', how='inner')
df_big['sale'] = np.where(((df_big['mm_end']<12) | (df_big['yy_end'] ==2023)| df_big['mm']==12), df_big['sale_price_before_promo'], df_big['sale_price_time_promo'])
df_big = df_big.drop(['sale_price_before_promo', 'sale_price_time_promo'], axis=1)
df_big = df_big.drop_duplicates(subset=['dd','item_id'])
df_filtered = df_big[df_big['mm'] == 12]
df_new = df_filtered.groupby('item_id')['qnty'].sum().reset_index()


january_2024_forecast = df_new.copy()

# Подготовка данных для модели случайного леса
X = df_big.drop(['qnty'], axis=1)  
y = df_big['qnty']  

# Разделение данных на обучающий и тестовый наборы
train_size = int(len(X) * 0.8)  
X_train, X_test = X.iloc[:train_size], X.iloc[train_size:]
y_train, y_test = y.iloc[:train_size], y.iloc[train_size:]

# Обучение модели 
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Прогнозирование продаж на январь 2024 года
predictions = model.predict(X_test)

# Создание DataFrame
january_2024 = pd.DataFrame({'прогноз': predictions})

# Запись прогноза в CSV
january_2024_forecast.to_csv('random_forest_jan_2024.csv',sep = ';', index=False, header=False, lineterminator=';\n')

# Оценка качества прогноза с использованием RMSE
rmse = sqrt(mean_squared_error(y_test, predictions))
print(f'RMSE прогноза на январь 2024: {rmse}')

RMSE прогноза на январь 2024: 5.2838966868714285

Вывод: Для данной задачи лучше подходит модель Random Forest так как у нее RMSE меньше